#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.slideContainer {
  border: 1px white;
  margin: 50px;
}

.answerButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.green{
  background-color: green;
}

.red {
  background-color: red;
  width: 800px;
  height: 40px;
}

.nextQuestion {
  margin: 20px;
  background-color: green;
}